<app-layout>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="titulo">Administrador de precios pasajes</h3>
    <p-button
      label="Nuevo Producto"
      (onClick)="agregarProducto()"
      icon="pi pi-plus"
      styleClass="p-button-primary"
    ></p-button>
  </div>
  <div class="card">
    <p-table
      [value]="datos"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50]"
      [loading]="loading"
      [paginator]="true"
      [showCurrentPageReport]="true"
      [sortField]="'id'"
      [totalRecords]="totalRecords"
      sortMode="multiple"
      [globalFilterFields]="['id']"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [lazy]="true"
      (onPage)="pageChange($event)"
      (onLazyLoad)="cargarDatos($event)"
      [filterDelay]="0"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="origen.nombre">
            Salida<p-sortIcon field="origen.nombre" />
          </th>
          <th pSortableColumn="destino">
            Destino<p-sortIcon field="destino" />
          </th>
          <th pSortableColumn="entre1.nombre">Entre<p-sortIcon field="entre1.nombre" /></th>
          <th pSortableColumn="entre2.nombre">Y<p-sortIcon field="entre2.nombre" /></th>
          <th pSortableColumn="precio">Precio<p-sortIcon field="precio" /></th>
          <th>Acciones</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter
              [showMenu]="false"
              type="text"
              field="origen.nombre"
              matchMode="contains"
              placeholder="Busca salida"
              ariaLabel="Buscar salida"
            />
          </th>
          <th>
            <p-columnFilter
              [showMenu]="false"
              type="text"
              field="destino"
              matchMode="contains"
              placeholder="Buscar destino"
              ariaLabel="Buscar destino"
            />
          </th>
          <th>
            <p-columnFilter
              [showMenu]="false"
              type="text"
              field="entre1.nombre"
              matchMode="contains"
              placeholder="Buscar entre"
              ariaLabel="Buscar entre"
            />
          </th>
          <th>
            <p-columnFilter
              [showMenu]="false"
              type="text"
              field="entre2.nombre"
              matchMode="contains"
              placeholder="Buscar y entre"
              ariaLabel="Buscar y entre"
            />
          </th>
          <th>
            <p-columnFilter
              [showMenu]="false"
              type="text"
              field="precio"
              matchMode="contains"
              placeholder="Buscar precio"
              ariaLabel="Buscar precio"
            />
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-dato>
        <tr>
          <td>{{ dato?.origen?.nombre }}</td>
          <td>{{ dato?.destino }}</td>
          <td>{{ dato?.entre1?.nombre }}</td>
          <td>{{ dato?.entre2?.nombre }}</td>
          <td>{{ "$" + (dato?.precio | number : "1.2-2") }}</td>
          <td>
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="pi pi-ellipsis-v"></i>
            </a>
            <!-- Acciones para ver y editar -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-pencil"
                  (click)="editar(dato)"
                  label="Editar"
                  class="p-button-rounded p-button-text dropdown-item"
                ></button>
              </li>
              <li>
                <button
                  pButton
                  pRipple
                  type="button"
                  icon="pi pi-trash"
                  (click)="eliminar(dato)"
                  label="Eliminar"
                  class="p-button-rounded p-button-text dropdown-item"
                ></button>
              </li>
            </ul>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Datos no encontrados.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="d-flex justify-content-end align-items-center mt-3">
    <p-button
      label="Regresar"
      [routerLink]="urlRegresar"
      icon="pi pi-arrow-left"
      styleClass="p-button-primary"
    ></p-button>
  </div>
</app-layout>
