<table datatable [id]="idTable" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"  class="display">
    <tr>
        <th><input type="text" placeholder="Search ID" name="search-nombre"/></th>
        <th><input type="text" placeholder="Search first name" name="search-first-name"/></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name"/></th>
    </tr>
</table>