<app-layout>
    <h3 class="titulo">Registro de Usuario</h3>
    <dinamic-form
        nombreFormulario="Datos Generales"
        [buttonText]="{ cancel: 'Cancelar', submit: loading? 'Guardando' : 'Guardar', return: 'Regresar' }"
        (formCancelled)="eventoCancelar()"
        (formSubmitted)="onSubmit()">
        <form [formGroup]="form">
            <div class="row g-3 mt-2 align-items-center">
                <div class="col-12 col-md-5">
                    <label for="nombre" class="form-label">Nombre(s): <span class="text-danger">*</span></label>
                </div>
                <div class="col-12 col-md-7">
                    <input type="text" class="form-control" placeholder="Nombre(s)"
                    formControlName="nombre"
                    onlyText
                    maxlength="50"
                    minlength="3"
                    [class.campo-invalido]="form.get('nombre').invalid && form.get('nombre').touched"
                    id="nombre" 
                    aria-describedby="nombre">
                </div>
            </div>
            <div class="row g-3 mt-2 align-items-center">
                <div class="col-12 col-md-5">
                    <label for="sucursal_id" class="form-label">Sucursal: <span class="text-danger">*</span></label>
                </div>
                <div class="col-12 col-md-7">
                    <select formControlName="sucursal_id" class="form-select" id="sucursal_id" data-placeholder="Selecciona una sucursal"
                        [class.campo-invalido]="form.get('sucursal_id').invalid && form.get('sucursal_id').touched">
                            <option value=''>Seleccione una sucursal</option>
                            @for (sucursal of sucursales; track $index) {
                                <option [value]="sucursal.id">{{sucursal.nombre}}</option>
                            }
                    </select>
                </div>
            </div>
            <div class="row g-3 mt-2 align-items-center">
                <div class="col-12 col-md-5">
                    <label for="rol_id" class="form-label">Rol: <span class="text-danger">*</span></label>
                </div>
                <div class="col-12 col-md-7">
                    <select formControlName="rol_id" class="form-select" id="rol_id" data-placeholder="Selecciona un rol"
                        [class.campo-invalido]="form.get('rol_id').invalid && form.get('rol_id').touched">
                            <option value=''>Seleccione un Rol</option>
                            @for (rol of roles; track $index) {
                                <option [value]="rol.id">{{rol.rol}}</option>
                            }
                    </select>
                </div>
            </div>
           <div class="row g-3 mt-2 align-items-center">
                <div class="col-12 col-md-5">
                    <label for="contrasenia" class="form-label">Contraseña: <span class="text-danger">*</span></label>
                </div>
                <div class="col-12 col-md-7">
                    <input type="password" class="form-control" placeholder="Contraseña"
                    maxlength="50"
                    minlength="5"
                    formControlName="contrasenia"
                    [class.campo-invalido]="form.get('contrasenia').invalid && form.get('contrasenia').touched"
                    id="contrasenia" 
                    aria-describedby="contrasenia">
                </div>
            </div>
            <div class="row g-3 mt-2 align-items-center">
                <label><span class="text-danger">* Campos requeridos</span></label>
            </div>
        </form>
    </dinamic-form>
</app-layout>

