<app-layout>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="titulo">Administrador de Unidades</h3>
        <p-button label="Nueva unidad" (onClick)="agregar()" icon="pi pi-plus" styleClass="p-button-primary"></p-button>
    </div>  
    <div class="card">
        <p-table [value]="datos"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50]"
        [loading]="loading"
        [paginator]="true"
        [showCurrentPageReport]="true"
        [sortField]="'id'"
        [totalRecords]="totalRecords"
        sortMode="multiple"
        [globalFilterFields]="['id']"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [lazy]="true"
        (onPage)="pageChange($event)"
        (onLazyLoad)="cargarDatos($event)"
        [filterDelay]="0"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre<p-sortIcon field="nombre"/></th>
                    <th pSortableColumn="usuario.nombre">Encargado<p-sortIcon field="usuario.nombre"/></th>
                    <th pSortableColumn="placas">Placas<p-sortIcon field="placas"/></th>
                    <th pSortableColumn="tipoCamioneta.nombre">Tipo<p-sortIcon field="tipoCamioneta.nombre"/></th>
                    <th pSortableColumn="tipoCamioneta.capacidad">Capacidad<p-sortIcon field="tipoCamioneta.capacidad"/></th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <th>
                        <p-columnFilter
                        [showMenu]="false" 
                            type="text"
                            field="nombre"
                            matchMode="contains"
                            placeholder="Busca nombre" 
                            ariaLabel="Buscar nombre" />
                    </th>
                    <th>
                        <p-columnFilter
                        [showMenu]="false" 
                            type="text"
                            field="usuario.nombre"
                            matchMode="contains"
                            placeholder="Buscar encargado" 
                            ariaLabel="Buscar encargado" />
                    </th>
                    <th>
                        <p-columnFilter
                        [showMenu]="false" 
                            type="text"
                            field="placas"
                            matchMode="contains"
                            placeholder="Buscar placas" 
                            ariaLabel="Buscar placas" />
                    </th>
                    <th>
                        <p-columnFilter
                        [showMenu]="false" 
                            type="text"
                            field="tipoCamioneta.nombre"
                            matchMode="contains"
                            placeholder="Buscar tipo" 
                            ariaLabel="Buscar tipo" />
                    </th>
                     <th>
                        <p-columnFilter
                        [showMenu]="false" 
                            type="text"
                            field="tipoCamioneta.capacidad"
                            matchMode="contains"
                            placeholder="Buscar capacidad" 
                            ariaLabel="Buscar capacidad" />
                    </th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dato>
                <tr>
                    <td>{{ dato?.nombre }}</td>
                    <td>{{ dato?.usuario?.nombre }}</td>
                    <td>{{ dato?.placas }}</td>
                    <td>{{ dato?.tipoCamioneta?.nombre }}</td>
                    <td>{{ dato?.tipoCamioneta?.capacidad }}</td>
                    <td>
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="pi pi-ellipsis-v"></i>
                        </a>
                        <!-- Acciones para ver y editar -->
                        <ul  class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <button 
                                    pButton 
                                    pRipple 
                                    type="button" 
                                    icon="pi pi-pencil" 
                                    (click)="editar(dato)"
                                    label="Editar"
                                    class="p-button-rounded p-button-text dropdown-item">
                                </button>
                            </li>
                            <li>
                                <button
                                  pButton
                                  pRipple
                                  type="button"
                                  icon="pi pi-trash"
                                  (click)="eliminar(dato)"
                                  label="Eliminar"
                                  class="p-button-rounded p-button-text dropdown-item"
                                ></button>
                              </li>
                        </ul>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5">Datos no encontrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="d-flex justify-content-end align-items-center mt-3">
        <p-button label="Regresar" [routerLink]="urlRegresar" icon="pi pi-arrow-left" styleClass="p-button-primary"></p-button>
    </div>
</app-layout>
