<app-layout>
  <h3 class="titulo">Usuario</h3>
  <dinamic-form [buttonText]="{cancel: '',submit :'', return: 'Regresar'}" [buttonShow]="{cancel: false,submit :false, return: true}" nombreFormulario="Datos generales" (formCancelled)="eventoCancelar()">
      <form [formGroup]="form">
          <div class="row g-3 mt-2 align-items-center">
              <div class="col-12 col-md-5">
                  <label for="nombre" class="form-label">Nombre:</label>
              </div>
              <div class="col-12 col-md-7">
                <label for="nombre" class="form-label">{{form.get('nombre').value}}</label>
              </div>
          </div>
           <div class="row g-3 mt-2 align-items-center">
              <div class="col-12 col-md-5">
                  <label for="sucursal" class="form-label">Sucursal:</label>
              </div>
              <div class="col-12 col-md-7">
                <label for="sucursal" class="form-label">{{form.get('sucursal').value.nombre}}</label>
              </div>
          </div>
          <div class="row g-3 mt-2 align-items-center">
              <div class="col-12 col-md-5">
                  <label for="rol" class="form-label">Rol:</label>
              </div>
              <div class="col-12 col-md-7">
                <label for="rol" class="form-label">{{form.get('rol').value.rol}}</label>
              </div>
          </div>
      </form>
  </dinamic-form>
</app-layout>

