<footer class="footer-dgtid">
  <div class="footer">
    <div>
      <p><span class="texto-md">SIAC</span> Sistema Integral de Atención Ciudadana<br>
        Palacio de Gobierno, Bustamante Esq. Guerrero S/N Plaza de la Constitución, Centro Historico. CP.68000 Oaxaca de Juárez, Oaxaca.<br>
        Tel. <span class="texto-md">(01951) 501 81 00</span> Ext. <span class="texto-md">40033</span> Email: <span class="texto-md"><a href="mailto:atencionciudadana@oaxaca.gob.mx" class="text-white">atencionciudadana&#64;oaxaca.gob.mx</a></span></p>
    </div>
    <img [src]="logoSistema" class="d-none d-md-block" alt="Imagen del footer">
  </div>
</footer>
