<form [formGroup]="form">
  <fieldset class="mb-4">
    <legend>Seleccionar Cliente</legend>

    <div class="row g-3">
      <div class="col-12 col-md-6">
        <label class="form-label">Cliente:</label>
        <select
          formControlName="clienteId"
          class="form-select"
          id="clienteId"
          data-placeholder="Seleccione un cliente"
          [class.campo-invalido]="
            form.get('clienteId').invalid && form.get('clienteId').touched
          "
        >
          <option value="">Seleccione un cliente</option>
          @for (cliente of clientes; track $index) {
            <option [ngValue]="cliente">
              {{ cliente.nombre }} {{ cliente.apellidoPaterno }}
            </option>
          }
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset class="mb-4" *ngIf="form.get('clienteId')?.value">
    <legend>Datos del Cliente</legend>

    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          disabled
          [value]="form.get('nombre')?.value"
          aria-describedby="nombre"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Apellido Paterno</label>
        <input
          type="text"
          class="form-control"
          id="apellidoPaterno"
          disabled
          [value]="form.get('apellidoPaterno')?.value"
          aria-describedby="apellidoPaterno"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Apellido Materno</label>
        <input
          type="text"
          class="form-control"
          id="apellidoMaterno"
          disabled
          [value]="form.get('apellidoMaterno')?.value"
          aria-describedby="apellidoMaterno"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">Nombre Comercial</label>
        <input
          type="text"
          class="form-control"
          id="nombreComercial"
          disabled
          [value]="form.get('nombreComercial')?.value"
          aria-describedby="nombreComercial"
        />
      </div>

      <div class="col-md-6">
        <label class="form-label">RFC</label>
        <input
          type="text"
          class="form-control"
          id="rfc"
          disabled
          [value]="form.get('rfc')?.value"
          aria-describedby="rfc"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Sociedad</label>
        <input
          type="text"
          class="form-control"
          id="sociedad"
          disabled
          [value]="form.get('sociedad')?.value"
          aria-describedby="sociedad"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Teléfono</label>
        <input
          type="text"
          class="form-control"
          id="telefono"
          disabled
          [value]="form.get('telefono')?.value"
          aria-describedby="telefono"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Régimen Fiscal</label>
        <input
          type="text"
          class="form-control"
          id="regimenFiscal"
          disabled
          [value]="form.get('regimenFiscal')?.value"
          aria-describedby="regimenFiscal"
        />
      </div>

      <div class="col-md-8">
        <label class="form-label">Dirección</label>
        <input
          type="text"
          class="form-control"
          id="direccion"
          disabled
          [value]="form.get('direccion')?.value"
          aria-describedby="direccion"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Código Postal</label>
        <input
          type="text"
          class="form-control"
          id="codigoPostal"
          disabled
          [value]="form.get('codigoPostal')?.value"
          aria-describedby="codigoPostal"
        />
      </div>

      <div class="col-md-4">
        <label class="form-label">Tipo Persona</label>
        <input
          type="text"
          class="form-control"
          id="tipoPersona"
          disabled
          [value]="form.get('tipoPersona')?.value"
          aria-describedby="tipoPersona"
        />
      </div>
    </div>
  </fieldset>
  <fieldset class="mb-4">
    <legend>Datos Generales</legend>
    <div class="row g-3 mt-2 align-items-center">
      <!-- Responsable -->
      <div class="col-12 col-md-4">
        <label for="responsable" class="form-label">Responsable:</label>
        <input
          type="text"
          class="form-control"
          id="responsable"
          disabled
          [value]="form.get('usuario')?.value?.nombre"
          aria-describedby="responsable"
        />
      </div>

      <!-- Fecha -->
      <div class="col-12 col-md-4">
        <label for="fechaCreacion" class="form-label">Fecha de Registro:</label>
        <input
          type="text"
          class="form-control"
          id="fechaCreacion"
          disabled
          [value]="form.get('fechaCreacion')?.value"
          aria-describedby="fechaCreacion"
        />
      </div>
      <div class="col-12 col-md-4 text-center">
        <label for="folio" class="form-label">Folio:</label>
        <p class="fs-3 text-danger mb-1">{{ form.get("folio")?.value }}</p>
        <button
          class="btn btn-outline-primary btn-sm"
          (click)="imprimirTicket()"
        >
          <i class="pi pi-print"></i> Imprimir Ticket
        </button>
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-4">
    <legend>Productos Solicitados</legend>
    <div class="card">
      <p-table
        [value]="detalleVentas"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 50]"
        [loading]="loading"
        [sortField]="'id'"
        [totalRecords]="totalRecords"
        sortMode="multiple"
        [globalFilterFields]="['id']"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [lazy]="true"
        (onLazyLoad)="cargarDatos($event)"
        [filterDelay]="0"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Cantidad</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dato>
          <tr>
            <td>{{ dato.cantidad }}</td>
            <td>{{ dato.producto?.codigo }}</td>
            <td>{{ dato.producto?.nombre }}</td>
            <td>{{ dato.producto?.unidad }}</td>
            <td>{{ "$" + (dato?.precio | number: "1.2-2") }}</td>
            <td>{{ "$" + (dato?.subtotal | number: "1.2-2") }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No coincidencia.</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3"></div>
      <div class="row g-3 mt-2 align-items-center justify-content-end">
        <!-- Forma de Pago -->
        <div class="col-12 col-md-5">
          <div class="row align-items-center">
            <div class="col-12 col-md-auto col-lg-5 text-center">
              <label for="formaPago" class="form-label">Forma de Pago:</label>
            </div>
            <div class="col-12 col-lg-7">
              <input
                type="text"
                class="form-control"
                id="formaPago"
                disabled
                [value]="form.get('formaPago')?.value"
                aria-describedby="formaPago"
              />
            </div>
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="row align-items-center">
            <div class="col-12 col-md-auto col-lg-5 text-center">
              <label for="total" class="form-label">Total:</label>
            </div>
            <div class="col-12 col-lg-7">
              <input
                type="text"
                class="form-control"
                id="total"
                disabled
                [value]="'$' + (form.get('total')?.value | number: '1.2-2')"
                aria-describedby="total"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-2 align-items-center justify-content-end">
        <div class="col-12 col-md-3">
          <div class="row align-items-center">
            <div class="col-12 col-md-auto col-lg-5 text-center">
              <label for="iva" class="form-label">IVA:</label>
            </div>
            <div class="col-12 col-lg-7">
              <input
                type="text"
                class="form-control"
                id="iva"
                disabled
                [value]="'$' + (form.get('iva')?.value | number: '1.2-2')"
                aria-describedby="iva"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 mt-2 align-items-center justify-content-end">
        <div class="col-12 col-md-3">
          <div class="row align-items-center">
            <div class="col-12 col-md-auto col-lg-5 text-center">
              <label for="totalFinal" class="form-label">Total:</label>
            </div>
            <div class="col-12 col-lg-7">
              <input
                type="text"
                class="form-control"
                id="totalFinal"
                disabled
                [value]="
                  '$' + (form.get('totalFinal')?.value | number: '1.2-2')
                "
                aria-describedby="totalFinal"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
